<div class="panel panel-default" style="margin-top: 20px;">
  <div class="panel-heading">
    <h4>{{ medication.name }}</h4>
  </div>
  <div class="panel-body">
    <div class="row col-xs-12">
      <div class="col-xs-6"><b>Dosage:</b> {{ medication.dosage }}</div>
      <div class="col-xs-6"><b>Frequency:</b> {{ medication.frequency }}</div>
    </div>
    <div class="row col-xs-12" style="margin-top:5px;">
      <div class="col-xs-6"><b>Rx Physician:</b> {{ medication.rxPhysician }}</div>
    </div>
  </div>
</div>
